/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: #20295a;
		--primary-50: #eceef8;
		--primary-100: #d9ddf2;
		--primary-200: #b4bbe4;
		--primary-300: #8e99d7;
		--primary-400: #6877ca;
		--primary-500: #4255bd;
		--primary-600: #354497;
		--primary-700: #283371;
		--primary-800: #1b224b;
		--primary-900: #0d1126;
		--primary-950: #070813;
	}
}
